<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br><br>
        <%= @user.phone_number %>
        <%= render 'follow_form' if logged_in? %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section>
         <% if current_user.admin? %>
         <%= form_for(@user) do |g| %>
         <%= render 'shared/error_messages', object: g.object %>
         <b>Make Admin?</b>
         <br>
         <table >
              <tr>
                   <td>Yes <%=radio_button("user", "admin", "true")%></td>
                   <td>No <%=radio_button("user", "admin", "false")%></td>
              </tr>
              <tr>
                    <td><%= g.submit "Save", class: "btn--form--small" %></td>
              </tr>
         </table>
         <%end%>
         <%= form_for(@user) do |g| %>
         <b>Verify Account?</b>
         <br>
         <table >
              <tr>
                   <td>Yes <%=radio_button("user", "activated", "true")%></td>
                   <td>No <%=radio_button("user", "activated", "false")%></td>
              </tr>
              <tr>
                    <td><%= g.submit "Save", class: "btn--form--small" %></td>
              </tr>
         </table>

         <%end%>
         <%end%>
    </section>
  </aside>
  <div class="col-md-8">

    <% if @user.microposts.any? %>
      <h3>Discussion Posts: </h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
